ul {
    padding-left: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    background-color: rgb(187, 242, 255);
    padding: 20px;
    margin: 5px;
}